{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<title>{% block title %}exponentify{% endblock %}</title>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'style4.css' %}">
</head>
<style>
body, html {
    height: 90%;
    line-height: 1.3;
}
/* Full height image header */

.s-bar .s-button {
    padding: 16px;
}

</style>

<body>


<!-- Navbar (sit on top) -->

<div class="navbar s-white">



   <a href='{% url "index" %}'><img class="logo-img" 
    src="{% static 'logo1.jpg' %}" alt="explogo"></a>


    <!-- Right-sided navbar links -->
       <ul id="nav-links">
                <li class="s-medium"><a href='{% url "index" %}#service'>SERVICES</a>

                </li>
                <li class="s-medium"><a href='{% url "index" %}#industry'>INDUSTRIES</a>

                </li>
                <li class="s-medium"><a href='{% url "index" %}#about'>ABOUT</a>
                
                 </li>
                <li class="s-medium"><a href='{% url "contact" %}'>CONTACT</a>

                </li>

                <li class="s-medium"><a href='{% url "careers" %}'>CAREERS</a>

                </li>
            </ul>



</div>

<!-- Sidebar on small screens when clicking the menu icon -->
<nav class="s-sidebar s-bar-block s-light-blue s-card s-animate-left s-hide-medium s-hide-large" style="display:none" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="s-bar-item s-button s-large s-padding-16">Close ×</a>


  <a href="service" onclick="w3_close()" class="s-bar-item s-button">SERVICES</a>
  <a href="#industry" onclick="w3_close()" class="s-bar-item s-button">INDUSTRIES</a>
  <a href="#career" onclick="w3_close()" class="s-bar-item s-button">CAREERS</a>
  <a href="#contact" onclick="w3_close()" class="s-bar-item s-button">CONTACT</a>
  <a href="#about" onclick="w3_close()" class="s-bar-item s-button">ABOUT</a>
  <a href="#analytic" onclick="w3_close()" class="s-bar-item s-button">Analytics</a>
  <a href="#sysapp" onclick="w3_close()" class="s-bar-item s-button">Systems and Applications</a>
  <a href="#auto" onclick="w3_close()" class="s-bar-item s-button">Automation</a>
  <a href="#cloud" onclick="w3_close()" class="s-bar-item s-button">Cloud</a>
  <a href="#sec" onclick="w3_close()" class="s-bar-item s-button">Security</a>
  <a href="#bus" onclick="w3_close()" class="s-bar-item s-button">Business Process Management</a>
  <a href="#agile" onclick="w3_close()" class="s-bar-item s-button">Digital Transformation</a>
    <a href="#learn" onclick="w3_close()" class="s-bar-item s-button">VISION</a>
</nav>
<br><br>
{% block content %}{% endblock %}
<!-- Header with full-height image -->

<!-- Footer -->

<div class="s-row s-green"><p class="s-medium s-center">© 2018 exponentify, all rights reserved</p></div>
</footer>
<footer class="s-center s-white s-padding-64">

  <a href="#home" class="s-button s-skyblue">To the top</a>
  <div class="s-xlarge s-section">

  </div>

</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
