{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<title>exponentify technologies</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'style4.css' %}">
<style>

body, html {
    height: 90%;
    line-height: 1.3;
}
/* Full height image header */
.bgimg-1{background-position: center;background-size: cover;background-image:url({% static 'ab_top.jpg' %});min-height: 100%;}
.s-bar .s-button {
    padding: 16px;
}
/* images */
.analytic-b{background-position: center;background-size: cover;background-image:url({% static 'wirebrain.jpg' %});min-height: 60%;}
.app-b{background-position: center;background-size: cover;background-image:url({% static 'wavnum.jpg' %});min-height: 60%;}
.cloud-b{background-position: center;background-size: cover;background-image:url({% static 'hybridcloud.jpg' %});min-height: 60%;}
.sec-b{background-position: center;background-size: cover;background-image:url({% static 'sec2.jpg' %});min-height: 60%;}
.bpm-b{background-position: center;background-size: cover;background-image:url({% static 'web.jpg' %});min-height: 60%;}
.dt-b{background-position: center;background-size: cover;background-image:url({% static 'nano.jpg' %});min-height: 60%;}
.loc-b{background-position: center;background-size: cover;background-image:url({% static 'gridbuilding.jpg' %});min-height: 60%;}
.con-b{background-position: center;background-size: cover;background-image:url({% static 'bigred.png' %});min-height: 60%;}
</style>

<body>

<!-- Navbar (sit on top) -->

<div class="navbar s-white">

   <a href="#home"><p><img class="logo-img" 
    src="{% static 'logo1.jpg' %}" alt="explogo"></a>


    <!-- Right-sided navbar links -->
       <ul id="nav-links">
                <li><a href="#service">SERVICES</a>

                </li>
                <li><a href="#industry">INDUSTRIES</a>

                </li>
                <li><a href="contact.html">CONTACT</a>

                </li>
                <li><a href="#about">ABOUT</a>
                
                 </li>
                <li><a href="#career">CAREERS</a>

                </li>
            </ul>

</p>

</div>

<!-- Sidebar on small screens when clicking the menu icon -->
<nav class="s-sidebar s-bar-block s-light-blue s-card s-animate-left s-hide-medium s-hide-large" style="display:none" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="s-bar-item s-button s-large s-padding-16">Close ×</a>


  <a href="#service" onclick="w3_close()" class="s-bar-item s-button">SERVICES</a>
  <a href="#industry" onclick="w3_close()" class="s-bar-item s-button">INDUSTRIES</a>
  <a href="#career" onclick="w3_close()" class="s-bar-item s-button">CAREERS</a>
  <a href="#contact" onclick="w3_close()" class="s-bar-item s-button">CONTACT</a>
  <a href="#about" onclick="w3_close()" class="s-bar-item s-button">ABOUT</a>
  <a href="#analytic" onclick="w3_close()" class="s-bar-item s-button">Analytics</a>
  <a href="#sysapp" onclick="w3_close()" class="s-bar-item s-button">Systems and Applications</a>
  <a href="#auto" onclick="w3_close()" class="s-bar-item s-button">Automation</a>
  <a href="#cloud" onclick="w3_close()" class="s-bar-item s-button">Cloud</a>
  <a href="#sec" onclick="w3_close()" class="s-bar-item s-button">Security</a>
  <a href="#bus" onclick="w3_close()" class="s-bar-item s-button">Business Process Management</a>
  <a href="#agile" onclick="w3_close()" class="s-bar-item s-button">Digital Transformation</a>
    <a href="#learn" onclick="w3_close()" class="s-bar-item s-button">VISION</a>
</nav>
<br><br>
<!-- Header with full-height image -->

<header class="bgimg-1" id="home">
<div class="s-display-container s-display-left s-text-white" style="padding:30px">

    <br><span class="s-xxxlarge s-hide-small" ><br>Exponentify your technologies. Exponentify business value.</span><br>
        <br><span class="s-xxxlarge">  GROW EXPONENTIALLY.</span><br>
<br><span class="s-xlarge s-hide-large s-hide-medium"></span><br>
    <br><br><br><b><p><div class="s-jumbo"> </div></p><br>
    <p><a href="#vision" class="s-button s-white s-padding-large s-large s-margin-top s-opacity s-hover-opacity-off s-jumbo">Learn how we get you there</a></p>
  </div> 
  <div class="s-display-bottomleft s-text-grey s-large" style="padding:24px 48px">
    <i class="fa fa-facebook-official s-hover-opacity"></i>
    <i class="fa fa-instagram s-hover-opacity"></i>
    <i class="fa fa-snapchat s-hover-opacity"></i>
    <i class="fa fa-pinterest-p s-hover-opacity"></i>
    <i class="fa fa-twitter s-hover-opacity"></i>
    <i class="fa fa-linkedin s-hover-opacity"></i>

  </div>
</header>


<!-- PROMO SECTION -->

<div class="s-container" style="padding:110px 16px" id="vision">

  <h2 class="p-center s-text-skyblue">We make our clients vision a reality</h2><br>
    <h3 class="p-center s-text-green">By developing proficiencies, driving change through digital transformation while nourishing adaptibility, and advancing applied and emerging technologies we help accomplish strategic goals.</h3><br>
  <h4 class="p-center">At Exponentify, we believe in executing ideas.  In an era of rapidly transforming technologies, we help build a firm strategy of survival, growth, positive customer experiences, and agility.  Together, we think, plan, and create. </h4>
  </div>
  <div class="s-row s-center">
    <div class="s-quarter">
      <p class="s-large">Discover</p>
      <img src="{% static 'discover.jpg' %}" alt="discover" style="width:70%" height="120">
      <p>Discover new possibilities and embrace change</p>
    </div>
    <div class="s-quarter">
      <p class="s-large">Design</p>
      <img src="{% static 'thinking.jpg' %}" alt="design" style="width:70%" height="120">
      <p>Design strategies and innovative solutions</p>
    </div>
    <div class="s-quarter">
      <p class="s-large">Develop</p>
      <img src="{% static 'coding.jpg' %}" alt="develop" style="width:70%" height="120">
      <p>Develop agile processes and applications</p>
    </div>
    <div class="s-quarter">
      <p class="s-large">Deliver</p>
      <img src="{% static 'Results.jpg' %}" alt="deliver" style="width:70%" height="120">
      <p>Deliver enhancements to invest in growth</p>
      </div>

 </div>
 

<!-- SERVICES -->
<div class="s-container s-light-grey" style="padding:128px 16px" id="service">
<div class="s-center">
      <P><img class="s-round-large" src="{% static 'globepointers.jpg' %}" alt="global" width="70%" height="300"></p>
        <h3 class="s-center s-text-green p-center"><br>We work with organzations around the world to deliver digital solutions that enable growth and productivity. </h3<br>
      <h3><br>Explore our core competencies:</h3><br><br>
      <div class="s-half s-left">
      <p><a href="#agile" class="s-button s-skyblue s-large" style="height:30px;width:250px">Digital Transformation</a></p>
      <p><a href="#bus" class="s-button s-skyblue s-large" style="height:30px;width:250px">Business Process Management</a></p>
      <p><a href="#sysapp" class="s-button s-skyblue s-large" style="height:30px;width:250px">Applications & Architecture</a></p>
    </div>
    <div class="s-half s-right">
      <p><a href="#analytic" class="s-button s-skyblue s-large" style="height:30px;width:250px">AI & Analytics</a></p>
      <p><a href="#cloud" class="s-button s-skyblue s-large" style="height:30px;width:250px">Cloud & Infrastructure</a></p>
      <p><a href="#sec" class="s-button s-skyblue s-large" style="height:30px;width:250px">Cybersecurity</a></p>
    </div>

    </div>

 </div>



<!-- INDUSTRIES -->
<div class="s-container" style="padding:128px 16px" id="industry">
  <h3 class="s-center p-center s-text-light-blue">Our skilled experts engage with organzations in various specializations to uncover insghts from data, processes, and services to improve quality and growth.</h3>
  <br><h4 class="s-center">Some industries we serve:</h4>
  <div class="s-grayscale p-center" style="margin-top:64px">
    <div class="s-col l3 m6 s-margin-bottom">
      <div class="s-card">
        <img src="{% static 'med1.png' %}" alt="health" style="width:100%" height="130">
        <div class="s-container">
          <h3>Healthcare</h3>
          <p class="s-opacity">Transform care</p>
          <p>Develop and integrate solutions across heathcare systems, applications, and business processes. </p>
          <p><button class="s-button s-light-grey s-block"> ...</button></p>
        </div>
      </div>
    </div>
    <div class="s-col l3 m6 s-margin-bottom">
      <div class="s-card">
        <img src="{% static 'finance.jpg' %}" alt="finance" style="width:100%" height="130">
        <div class="s-container">
          <h3>Financial</h3>
          <p class="s-opacity">Transform risk</p>
          <p>Develop and integrate solutions across financial and banking systems, applications, and processes.</p>
          <p><button class="s-button s-light-grey s-block">...</button></p>
        </div>
      </div>
    </div>
    <div class="s-col l3 m6 s-margin-bottom">
      <div class="s-card">
        <img src="{% static 'grid.jpg' %}" alt="energy" style="width:100%" height="130">
        <div class="s-container">
          <h3>Energy</h3>
          <p class="s-opacity">Transform power</p>
          <p>Develop and integrate solutions across exploration and production systems, applications, and processes.</p>
          <p><button class="s-button s-light-grey s-block"> ...</button></p>
        </div>
      </div>
    </div>
    <div class="s-col l3 m6 s-margin-bottom">
      <div class="s-card">
        <img src="{% static 'hightech.jpg' %}" alt="tech" style="width:100%" height="130">
        <div class="s-container">
          <h3>Technology</h3>
          <p class="s-opacity">Transform digitally</p>
          <p>Develop and integrate solutions across the enterprise by transforming applications and processes.</p>
          <p><button class="s-button s-light-grey s-block"> ...</button></p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--SERVICES DETAIL-->
<header class="dt-b s-display-container" id="agile">
  <div class="s-display-right s-text-white" style="padding:30px">
    <span class="s-xxlarge s-hide-small"><br>Evolve through Digital Transformation</span><br>
  </div>
</header>
<div class="s-display-container" style="padding:128px 16px">
  <div class="s-row-padding">
    <div class="s-half">
    <div class="s-xlarge s-text-greenr">Advance, innovate, transform</div>
    <p class="s-large">Evolve by transforming business models and processes.   <br><br>Our solutions experts, digital strategists and digital transformation consultants help clients develop:<br>
    <br>Transformation insights <br>Transformation strategy<br>Project management<br>Agile framework<br>Sustaining results</p>
      
    </div>

    <div>
     <img class="s-image s-round-large" src="{% static 'dt.png' %}" alt="digitaltran" width="50%" height="50%">
    </div>
      
  </div>
</div>

<header class="analytic-b s-display-container s-light-grey" id="analytic">
  <div class="s-display-right s-text-white" style="padding:30px">
    <span class="s-xxlarge s-hide-small">Evolve your Analytics</span><br>
  </div>
</header>
<div class="s-display-container s-light-grey" style="padding:128px 16px">
  <div class="s-row-padding">
    <div class="s-half">
    <div class="s-xlarge s-text-greenr">Advance, innovate, transform</div>
    <p class="s-large">Evolve from data analytics to smart analytics.<br><br> Our data scientists, data engineers, and business intelligence consultants help clients in:<br>
    <br>Big data management<br>Machine learning<br>Natural language processing & imaging<br>Predictive analytics<br>Internet of Things integration</p>
      
    </div>

    <div>
     <img class="s-image s-round-large" src="{% static 'analyticsd.jpg' %}" alt="analytics" width="50%" height="50%">
    </div>
      
  </div>
</div>

<header class="app-b s-display-container" id="sysapp">
  <div class="s-display-right s-text-white" style="padding:30px">
    <span class="s-xxlarge s-hide-small"><br>Evolve your Applications</span><br>
  </div>
</header>
<div class="s-display-container" style="padding:128px 16px">
  <div class="s-row-padding">
    <div class="s-half">
    <div class="s-xlarge s-text-greenr">Advance, innovate, transform</div>
    <p class="s-large">Evolve applications to be intelligent, integrated, and interconnected.<br><br>Our application architects, programmers, developers, and QA Analysts help clients create applications that are:<br>
    <br>Real time<br>Event based<br>Data driven<br>Experience driven<br>User friendly</p>
    </div>

    <div>
     <img class="s-image s-round-large" src="{% static 'app2.jpg' %}" alt="appcycle" width="50%" height="50%">
    </div>
  </div>
</div>


<header class="cloud-b s-display-container " id="cloud">
  <div class="s-display-right s-text-white" style="padding:30px">
    <span class="s-xxlarge s-hide-small"><br>Evolve to the Cloud</span><br>
  </div>
</header>
<div class="s-display-container " style="padding:128px 16px">
  <div class="s-row-padding">
    <div class="s-half">
    <div class="s-xlarge s-text-greenr">Advance, innovate, transform</div>
    <p class="s-large">Evolve from physical hardware to cloud infrastructure or best of both. <br><br>Our cloud engineers, cloud architects, and vitualization consultants help clients implement and manage clouds that are:<br>
    <br>Hybrid<br>Private<br>Public<br>Distributed<br>High-Performance</p>
      
    </div>

    <div>
     <img class="s-image s-round-large" src="{% static 'date-migration.png' %}" alt="cloudprocess" width="50%" height="50%">
    </div>
      
  </div>
</div>


<header class="sec-b s-display-container" id="sec">
  <div class="s-display-right s-text-white" style="padding:30px">
    <span class="s-xxlarge s-hide-small"><br>Evolve Cybersecurity</span><br>
  </div>
</header>
<div class="s-display-container" style="padding:128px 16px">
  <div class="s-row-padding">
    <div class="s-half">
    <div class="s-xlarge s-text-greenr">Advance, innovate, transform</div>
    <p class="s-large">Evolve cybersecurity to secure applications and systems from emerging threats.   Next generation technology needs next generation security.<br><br>Our security engineers help clients secure networks, cloud services, applications, IoT devices, and components of decentralized information systems focusing on:<br>
    <br>Security strategy<br>Prevention<br>Protection</p>
      
    </div>
    <div>
     <img class="s-image s-round-large" src="{% static 'secte.jpg' %}" alt="cloudprocess" width="50%" height="50%">
    </div>
      
  </div>
</div>

<header class="bpm-b s-display-container" id="bus">
  <div class="s-display-right s-text-white" style="padding:30px">
    <span class="s-xxlarge s-hide-small"><br>Evolve Business Processes</span><br>
  </div>
</header>
<div class="s-display-container" style="padding:128px 16px">
  <div class="s-row-padding">
    <div class="s-half">
    <div class="s-xlarge s-text-greenr">Advance, innovate, transform</div>
    <p class="s-large">Evolve business processes with field expertise, business management services, and process automation.<br<br> Our process analysts, operation specialists, and business development consultants help clients procure experts in: <br>
    <br>Human resources<br>Supply management & manufacturing<br>Design, research, & development<br>Medical & Pharamcy practice <br>Finance & Accounting<br>Continuous improvement & Integration<br>Automation</p>
    </div>

    <div>
     <img class="s-image s-round-large" src="{% static 'rpa.png' %}" alt="rpa" width="50%" height="50%">
    </div>
  </div>
</div>



<!-- Promo Section "Statistics" -->
<header class="loc-b s-display-container" id="loc">
  <div class="s-display-left s-text-white" style="padding:30px">
    <span class="s-xxlarge s-hide-small"><br>Our Locations</span><br>
  </div>
</header>
<div class="s-container s-row s-center s-white s-padding-64 p-center">
  <div class="s-col s2">
    <span class="s-large s-text-greenr">Houston</span>
    <br>TX
  </div>
  <div class="s-col s2">
    <span class="s-large s-text-greenr">Karachi</span>
    <br>PK
  </div>
  <div class="s-col s2">
    <span class="s-large s-text-greenr">Hyderabad</span>
    <br>IN
  </div>
    <div class="s-col s2">
    <span class="s-large s-text-greenr">Dubai</span>
    <br>UAE
  </div>
  <div class="s-col s2">
    <span class="s-large s-text-greenr">Calgary</span>
    <br>AB
  </div>
</div>

<

<!-- About -->

<div class="s-container s-light-grey" style="padding:128px 16px" id="about">
<div class="s-center">
      <P><img class="s-round-large" src="{% static 'hback.jpg' %}" alt="houston" width="70%" height="300"></p>
        <h3 class="s-center s-text-greenr p-center"><br>Exponentify is a global IT consulting and professional resources services company that focuses on client success and growth.</h3<br>
        <br><p class="s-large">Founded in Houston, TX </p>
</div>
</div>



<!-- Footer -->

<div class="s-row s-green"><p class="s-medium s-right">© 2018 exponentify, all rights reserved</p></div>
</footer>
<footer class="s-center s-black s-padding-64">

  <a href="#home" class="s-button s-skyblue">To the top</a>
  <div class="s-xlarge s-section">

  </div>

</footer>


</body>
</html>
