{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %}Contact Us{% endblock %}


{% block content %}
<style>
.con-b{background-position: center;background-size: cover;background-image:url({% static 'network.jpg' %});}
</style>

<!-- Contact Section -->
<br><br><br><br>
<div><header class="con-b s-display-container" style="padding:128px 16px" width="100%" height="300"  id="contact">
  <div class="s-display-left s-text-white" style="padding:30px">
    <span class="s-xxlarge s-hide-small"><br><br><br>Connect with us</span><br>
  </div>
</header></div>
<div class="s-container p-center s left" id="contact">
  <h1 class="s-text-skyblue">Let's get in touch ...</h1><br>
  <p class="s-jumbo">For inquiries, general questions, request for services, or investor relations:</p><br>
  <p class="s-xlarge s-text-greenr"> Email:  info@exponentify.com<br>225 Matlage Way<br>Sugar Land, TX 77487-1903<br>Phone:  346-715-1113<br></p>

      <br>
</div>
{% endblock %}